<div class="column p-0 is-one-third ">
	<nav class="panel ">
		<p class="panel-heading">Who to Follow</p>
	

   

 <% @users.each do | user | %>
		<div class="panel-block">
			<article class="media">
			<% unless user == current_user %>
			  <article class="media ">
					<div class="media-left">
						<figure class="image is-64x64">
						 <%= link_to user_path(user), class: '' do %>
							<%= gravatar_image_tag(user.email, size: 64, alt: current_user.name) %>
            <%end%>
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
                <%= link_to user_path(user), class: '' do %>
								  	<strong><%= user.name %></strong><br />
								    <small><%= user.username %></small>
										
								<%end%>
							</p>
						</div>
					</div>
			 </article>
					
		  <%end%> 
		</article>
	</div>
 <%end%>
 </nav>
</div>

