<nav class="navbar is-info justify-content-between top-nav is-full">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
         <span class="icon"><i class="fas fa-lightbulb" aria-hidden="true"></i></span>
         <h1 class="has-text-weight-bold is-size-4">Recipes</h1> 
        <%end%>
      </div>
      <div class="navbar-end">
       <div class="field is-grouped">
         <% if user_signed_in? %>
              <p class="control">
                <%= link_to current_user.name, edit_user_registration_path, class: "button is-info" %>
              </p>
              <p>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"button is-info" %>
              </p>
            <% else %>
            <p class="control">
              <%= link_to 'Sign In', new_user_session_path, class: "button is-info" %>
            </p>
						<p class="control">
              <%= link_to 'Sign Up', new_user_registration_path, class: "button is-info" %>
            </p>
            <% end %>
       </div>
      </div>

     
    </nav>
