<div class="column p-0">
   <%= cover_image(@user) %>
   		<% if current_user == @user %>  
							<%= form_for(:user, method: :put, multipart: true) do |f| %>
								<%= f.label :cover, "Change Cover", class: "sky-blue" %>
								<%= f.hidden_field :cover_cache %>
								<%= f.file_field :cover, { onchange: 'this.form.submit();' } %>
						  <% end %>
       <% end %>      
 
<%@posts.includes(:user).each do |idea|%>
  <div class="box">
   <article class="media">
     <div class="media-left">
       <figure class="image is-64x64">
          <%= profile_picture(idea.user) %>
       </figure>
     </div>
      
     <div class="media-right">
       <div class="content">
        <strong><%= idea.user.name %></strong><br />
  			<small><%= idea.user.username %></small><br/>
        <p><%= idea.idea %></p>
       </div>
     </div>
   </article>
   
  </div>
<% end %>
</div>