<div class="column p-0 is-one-third ">
	<nav class="panel ">
		<p class="panel-heading">Who to Follow</p>

	<article class="media m-5">
					<div class="media-left">
						<figure class="image is-64x64">
							<%= user_image(@user) %>
						</figure>
					</div>
					<div class="media-content position-relative">
						<div class="content">
							<% if current_user == @user %>  
								<%= form_for(:user, method: :put, multipart: true) do |f| %>
								<%= f.label :photo, "Change Photo", class: "sky-blue" %>
								<%= f.hidden_field :photo_cache %>
								<%= f.file_field :photo, { onchange: 'this.form.submit();' } %>
              <% end %>
            <% end %>
				
							<p>
								<strong><%= @user.name %></strong><br />
								<small><%= @user.username %></small>
								<% unless @user == current_user %>
								<div class="button1">

								<%= link_to 'Follow', user_relationships_path(@user), method: :post, class: "button is-info" unless @rel.present?%>
								<%= link_to 'unfollow', relationship_path(@rel.id), method: :delete, class: "button is-danger" if @rel.present? %>
								</div>
							</p>
							<%end%>
						</div>
					</div>
	</article>
<div class="panel-block m-5">
			<div class="level is-mobile">
				<div class="level-item has-centered-text">
					<div>
						<p class="heading">Ideas</p>
						<p class="title is-6"><%= @user.ideas.count %></p>
					</div>
				</div>
				<div class="level-item has-centered-text ">
					<div>
						<p class="heading">Following</p>
						<p class="title is-6 "><%= @user.following.count%> </p>
					</div>
				</div>
					<div class="level-item has-centered-text">
					<div>
						<p class="heading">Followers</p>
						<p class="title is-6"><%= @user.followers.count%><p>
					</div>
				</div>
			</div>
			
		</div>
		<div class="panel-block">
		  <h4>other users</h4>
		</div>
		
 <% @users.each do | user | %>
    
		<div class="panel-block">
			<article class="media">
			   
					<div class="media-content">
						<div class="content">
						  
							<p>
							  
                <%= who_to_follow_list(user) %> 
							</p>
							
						</div>
					</div>
			 </article>
		</article>
	</div>
 <%end%>
 </nav>
</div>

