<!DOCTYPE html>
<html>
  <head>
    <title>CookingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice]%>
     <div class="notification is-primary global-notification">
       <p class="notice"><%= notice %></p>
     </div>
    <%end%>

     <% if flash[:alert]%>
     <div class="notification is-danger global-notification">
       <p class="alert"><%= alert %></p>
     </div>
    <%end%>

    

    <%= yield %>
  </body>
</html>
